[2022-05-13 06:51] bryanmylee opened #5 "`usePagination` affects row count"
usePagination paginates the table by transforming rows and producing a resulting row set that represents the page. However, the resulting row set should not represent the number of rows in the table.

This poses an issue when previous plugins or column definitions subscribe to `TableState#rows`. For example, a header render config might subscribe to `TableState#rows` to display the number of items

[2022-05-13 07:19] #5 closed

[2022-05-13 08:08] bryanmylee opened #7 "Remove `useX` conventions"
Linked [comment](https://www.reddit.com/r/sveltejs/comments/umj5s7/comment/i83wcuk/?utm_source=share&utm_medium=web2x&context=3).

# Issues

Currently, the creation of the view model is done with `useTable` and all plugins are prefixed with `useX`. This is primary influenced by React Table, but this might lead beginners to confuse the functions with Svelte actions and the [use directive](https://s

[2022-05-13 08:41] bryanmylee commented on #7
`useTable` has been deprecated by #8.

[2022-05-14 09:09] bryanmylee opened #9 "`useExpanded` plugin"
Allow data items to specify sub-items and render them as subrows.

The column model will also need to be extended to allow for `DisplayColumn`s that do not represent any data property, but represents additional UI for row expansion state etc.

[2022-05-15 16:58] bryanmylee opened #11 "useColumnFilters example SelectFilter should use originalRows instead of preFilteredRows"
If any transformations before the column filter removes all values of a distinct class, then the SelectFilter component does not see all possible options.

Ideally, we should be able to expose the originalRows to the SelectFilter / filter plugin.

[2022-05-15 18:21] bryanmylee commented on #9
Certain plugins result in incompatible behaviours when used with `useExpanded`. More specifically, the biggest issue comes from the `useSortBy` plugin, as its behaviour is not clear when used with `useExpanded`.

Currently, `useExpanded` only evaluates the rows of a nested group of items if the parent item is expanded i.e. it lazily computes the rows required to display subRows. This prevents a so

[2022-05-16 16:05] #9 closed

[2022-05-16 16:18] #7 closed

[2022-05-17 18:56] bryanmylee opened #13 "`addGroupBy` plugin"

[2022-05-17 18:58] bryanmylee opened #14 "`addResizeColumns` plugin"
This plugin should expose view model extensions to allow for easy drag-to-resize controls to resize columns.

It should also provide column options to size by `px` or `%`.

[2022-05-17 19:03] bryanmylee opened #16 "`addRowSelect` plugin"
Currently, row ids are generated based on position in the original data.

To support better row selection and other row-id related plugins, we should allow developers to define their own id accessors.

[2022-05-17 19:05] bryanmylee opened #17 "`addEditable` plugin"
Ideally, it should expose `update` and `set` methods on the view model extensions for BodyCells to allow for easier updates.

It should also provide a callback / event listener for handling edits with more control.

It should also provide methods on the view model extensions to confirm / cancel edits.

Multi-editing can be a configuration option.

[2022-05-17 19:07] bryanmylee opened #18 "`addRowLabel` plugin"
Allow developers to annotate BodyRows with a custom component that spans the entire row.

It should receive the row's original item as a prop to produce a `RenderConfig`.

[2022-05-17 19:07] bryanmylee opened #19 "`addTokenPagination` plugin"
This will mostly be for server-side managed pagination.

This is related to #20.

[2022-05-17 19:10] bryanmylee opened #20 "Server-side managed state control."
We could provide plugin state to the developer without transforming the rows.

Plugin state can then be used to signal the server for changes to `data`.

[2022-05-18 02:23] bryanmylee opened #21 "Performance improvements"
Should we provide more specific derivation functions on plugins to optimize certain transformations? i.e. instead of a `deriveRows` function, we could have a `deriveRowsNoMutate`, `deriveRowsOrderOnly`, `deriveRowsFilter` etc.

We're not sure where the performance bottlenecks are yet, so this may be a pre-mature consideration.

[2022-05-22 02:56] #13 closed

[2022-05-24 13:49] #16 closed

[2022-05-26 07:49] #14 closed

[2022-05-26 17:05] #11 closed

[2022-05-27 12:05] Primenotes opened #24 "[Question/Request] Integration with SvelteGantt"
Awesome tool!
Trying to integrate it with the table module used in 'svelte-gantt' (https://github.com/ANovokmet/svelte-gantt/tree/master/src/modules/table). My point of struggle is that headless table doesn't seem to provide an object that reflects the 'displayed state' of the data in the table (sort -> with sorted items, grouping -> with switched children/parents). Any ideas how to derive that?

[2022-05-27 13:15] bryanmylee commented on #24
Am I right to assume that you're trying to associate a row item to the original item in the data?

I haven't had a chance to fully document the instance properties yet, but the default behaviour of Headless Table is to give each item a string id based on its index in the data array.

You then have two ways of referring to the original data item regardless of sorting / grouping:

1. The original id

[2022-05-27 13:36] bryanmylee opened #26 "`addResizedColumns` breaks with `addGridLayout`"
Moving forward, when providing more layout options, it is not always guaranteed that data cells will adopt their width from their column header cells.

To provide more flexibility, `addResizedColumns` should provide an option to set the width of all elements explicitly.

[2022-05-28 04:17] bryanmylee commented on #17
This should be handled with a custom `cell` component instead of a plugin.

[2022-05-28 04:17] #17 closed

[2022-06-17 08:50] bryanmylee commented on #24
Given the lack of updates, I'll assume that you've managed to solve the issue! I'll close this for now. If you have any remaining issues, do open this again.

[2022-06-17 08:50] #24 closed

[2022-06-20 01:33] Gildedter opened #28 "How to implement expanding rows?"
Title

[2022-06-20 01:42] #28 closed

[2022-06-21 02:48] bryanmylee commented on #28
You can refer to [this](https://svelte-headless-table.bryanmylee.com/docs/plugins/add-expanded-rows) for documentation examples, or the [kitchen sink](https://svelte-headless-table.bryanmylee.com/docs/examples/kitchen-sink) for a comprehensive example.

[2022-06-22 01:07] Gildedter commented on #28
I have a problem with multiple plugin, because, `pagination` uses `pageRows` `sort` uses `rows`, I'm also adding `expanding rows` with it afterwards, but I can't seem to make `addSortBy` and `addPagination` work in conjunction

[2022-06-22 02:23] Gildedter commented on #28
Ok so, no matter what I try, `sortBy` just won't work, I copied the [simple example](https://svelte.dev/repl/cae6b8960e5a4c84a38826847aa862f3?version=3.48.0), but when I use the same example on my local machine, sorting just won't work, any ideas? I'm not getting any errors whatsoever, that's why I can't diagnose the issue

`package.json`:
[code]
  `svelte.config.js`
[code]

[2022-06-22 02:48] Gildedter opened #29 "Plugins break in dev mode on SvelteKit"
Ok so, no matter what I try, `sortBy` just won't work, I copied the [simple example](https://svelte.dev/repl/cae6b8960e5a4c84a38826847aa862f3?version=3.48.0), but when I use the same example on my local machine, sorting just won't work, any ideas? I'm not getting any errors whatsoever, that's why I can't diagnose the issue

`package.json`:
[code]
  `svelte.config.js`
[code]

_Originally posted by

[2022-06-22 02:49] Gildedter commented on #29
Even though `addPagination` works, `addSortBy` doesn't, I have referred to the kitchen sink example

[2022-06-22 05:21] Gildedter commented on #29
I think I found the issue, `order` is undefined because both of my `cell.props()`, are empty objects `{}`, I checked by using `JSON.stringify(cell.props())`
[code]

[2022-06-22 07:28] Gildedter commented on #29
When I do:
[code]
my Intellisense on props gives me: `{ sort: never }`

[2022-06-22 07:34] Gildedter opened #30 "Conditional row styling how?"
So I'm preprocessing my data, and adding in a `invalid: (predicate result)` key on my object, I'd like to style the "invalid" rows to have a red background color, I tried:
[code]
but `props` won't let me access the "invalid" key, same with `attrs`

[2022-06-22 08:04] eric-naguras commented on #29
Following. I have the same issue. Trying in a new, default Sveltekit project.
Also, the Simple Table Filtering (https://svelte.dev/repl/b14e9a90ad6c40ab85b18c9421820487?version=3.48.0) shows the table body for about half a second and then disappears. No idea why. No errors or anything.
I would love to see this table component work with Sveltekit.

[2022-06-22 10:05] Gildedter opened #31 "How to nest a table inside expanded row?"
from the [example](https://svelte-headless-table.bryanmylee.com/docs/plugins/add-expanded-rows#simple-row-expanding), I see that it just hides the same dataset, but what if I want to load an entirely different object array

[2022-06-23 01:10] Gildedter commented on #9
Any plans for `expandedRow` but without a `subRow`? I need to render a table within an `expandedRow`, its possible when using [svelte-table](https://github.com/hurtigruten/svelte-table), but I'm migrating to this for the `tableFilter` plugin

[2022-06-23 03:29] bryanmylee commented on #29
@Gildedter @eric-naguras Can you try the example again with `npm run build && npm run preview`?

I suspect there's an issue with `npm run dev` that's causing Svelte Headless Table to trip up.

[2022-06-23 03:30] bryanmylee commented on #30
I need to update the documentation to better describe the `BodyRow` object.

You can use `row.original` to refer to the original data item for that row. You can then do:

[code]

[2022-06-23 03:42] eric-naguras commented on #29
@bryanmylee Thanks for your swift reply.
Running build and preview did the trick for the table filtering.
I'll check if this is also true for the column sorting.

Any idea if this is fixable or should I just hope it will go away with an update of Sveltekit?
I'm on v1.0.0-next.350 right now. with @sveltejs/adapter-cloudflare on 1.0.0-next.23.

When things work using build and preview that is okay f

[2022-06-23 03:44] bryanmylee commented on #31
Svelte Headless Table works off having one source of data for the entire table. If you want to load a different object array when expanding a row, you can listen for a click on the expanding element to fetch the data you want, then update the original data store to add the fetched data as a property on the clicked item.

You can then use `addSubRows` to tell Svelte Headless Table to treat that pro

[2022-06-23 03:47] bryanmylee commented on #29
@eric-naguras It's likely an issue with how Svelte Headless Table interacts with SvelteKit, as the REPL and production works fine. I'll look into the issue and update you when I figure it out!

[2022-06-23 03:48] eric-naguras commented on #29
@bryanmylee The sorting example is working too when used with build/preview.
But it does not work running dev.
Cool, I'll try some more examples and will probably using this in my apps.
The TanStack table for Svelte is missing a lot of functionality. I like this one much more.

[2022-06-23 03:49] eric-naguras commented on #29
Take your time, build-preview works for me right now.

Thanks.

[2022-06-23 04:00] Gildedter commented on #31
I'll try this thanks

[2022-06-23 05:30] Gildedter commented on #31
Didn't work as I'd hope, I pre-process my data, and it has a key that already holds an array of objects as opposed to `nestedData` that's retrieved from somewhere, as a work around I'm making a button modal via `table.display( { cell: modalButton} )`, where I pass the array of objects to the modal for viewing, dunno how to retrieve it from `rows` though

[2022-06-23 05:44] Gildedter commented on #30
Works perfectly, only the typings are missing, so there's an error on the editor at the moment

[2022-06-23 06:56] Gildedter commented on #31
What I ended up with:
[code]

[2022-06-23 14:20] bryanmylee commented on #9
@Gildedter I've just taken a look at the example from svelte-table, and it seems like what you're looking for isn't really row expansion but rather labelling rows.

While I had plans to introduce a `addRowLabel` plugin, I felt like the ergonomics weren't up to par.

What you could do instead is to use `addSubRows`, but include a property like `type` on the data items that indicate the type of row

[2022-06-24 00:49] #30 closed

[2022-06-27 04:43] bryanmylee commented on #31
@Gildedter I'll look into fixing the typings for the row property passed in

[2022-06-27 10:47] bryanmylee commented on #31
@Gildedter The reason why `row.original` is not typed there is because not all rows will have an `original` property.

One common example: if the row is a display row created by grouping other rows together, nothing with static typing really fits into `original`. Therefore your code above will fail if you use row grouping and aggregation.

This is a documentation mistake on my part. I'll export al

[2022-06-27 11:05] #31 closed

[2022-06-30 21:25] larryhengl opened #32 "renderJSON fn for Table"
Hi, this library is awesome, thanks for putting it together and sharing it!

Is there a shortcut approach to "exporting" the current Table state as a JSON collection?  With all sorting and filters applied, and col state (hidden), derived cols, and col names as keys, etc?

If not, then any advice on how best to hit the API to construct a custom renderJSON() for the Table?  Or just brute force it?

[2022-07-02 03:33] bryanmylee commented on #32
I've never considered that, but it's definitely doable with the current API right now.

We could create a derived store on the table view model that describes the data as a JSON structure. You can then either subscribe to the store for live updates to the JSON tree or use [`get`](https://svelte.dev/docs#run-time-svelte-store-get) to get the value once.

[2022-07-02 03:37] bryanmylee commented on #32
Perhaps a more extensible way is to write a plugin for this actually.

Since each plugin has access to the table state, it can export some plugin state that describes the current view model.

I'll look into releasing this for v0.11.

[2022-07-02 03:44] #26 closed

[2022-07-02 14:42] #32 closed

[2022-07-02 14:44] bryanmylee commented on #32
@larryhengl I've released v0.11.0 which should address your needs.

[2022-07-02 14:52] lulucas opened #34 "Use `createRender` for native elements with arbitrary attributes"
Just something like ,
[code]

render div with classname like <svelte:element this="div"> do.

[2022-07-02 17:14] bryanmylee commented on #34
I'll take a look into extending the `createRender` paradigm!

This should line up pretty well with Svelte's `<svelte:element>` tag anyways.

[2022-07-02 17:16] bryanmylee commented on #29
@eric-naguras @Gildedter Can I check if you are both using `pnpm`?

From my testing, the library works fine with SvelteKit in dev mode when installed with `npm`.

If you're using `pnpm`, then the SSR works fine but the client render / hydration fails. That explains why you see a flash of correct content before the table content disappears.

I'm absolutely stumped as to why this is, but if you need

[2022-07-02 17:19] bryanmylee commented on #19
Server-side

[2022-07-03 01:55] larryhengl commented on #32
thanks @bryanmylee , that's so awesome that you added that export feature so quickly.  much appreciated!!

[2022-07-04 04:01] bryanmylee commented on #34
@lulucas After some consideration, I feel that it's not really intuitive to create native elements with `createRender`, solely because it feels like I'm trying to re-implement HTML and templating in JS.

If I implement something like `createRender('div', {class: 'i-ic:iconname' })`, then it's odd not to also provide some support for children elements etc., which feels like re-implementing JSX or o

[2022-07-04 05:00] #34 closed

[2022-07-04 08:49] eric-naguras commented on #29
@bryanmylee I'm not using pnpm but regular npm., v 8.12.1

[2022-07-09 00:03] PoisnFang commented on #29
Same, its NOT just pnpm

[2022-07-12 15:43] bryanmylee commented on #29
I'm using this repository's `src/routes/index.svelte` and the documentation repo on `docs/src/routes/index.svelte`. I haven't tried on a fresh install of SvelteKit yet though.

[2022-07-23 08:27] bryanmylee commented on #29
I'm having a hard time debugging this, and I suspect it's an issue with the package manager's interactions with SvelteKit.

If I try to use `npm link` to debug the package, the issue goes away. I've tried debugging the issue by adding `console.log` to the `node_modules` version but I can't find anything.

If anyone else has ideas on what this might be I'd appreciate the help and contribution.

[2022-07-24 16:58] Mattchine opened #35 "Discussion on how to implement editable table"
I just tried and fall in love with this library, thanks a lot.

I want suggestion or to discuss on how to implement `editable-table` better.

This is my [REPL implementation](https://svelte.dev/repl/ab5be587a0ab41d79dfeb2f8123a1ddc?version=3.49.0), which feel like a hacky way.

1. `store` (`Writable`) is in its own file and is imported by `Table` and `Input` component
2. `Input` has 3 props: `valu

[2022-07-24 16:59] Mattchine commented on #35
[Related issue](https://github.com/bryanmylee/svelte-headless-table/issues/17)

[2022-07-25 01:51] bryanmylee commented on #35
I'm glad you're enjoying the library @Mattchine! Perhaps I should create some examples on the documentation site to show how I envisioned data editing would look like.

I wanted `$data` to be the source of truth for the table, and since most data sources are usually synced with some server-side data, I figured it wouldn't make sense to create the `addEditable` plugin.

As you've noticed, each `Dat

[2022-07-25 09:27] rohanrajpal commented on #35
@bryanmylee I've been also trying to make an editable table and your points are super helpful. Will be waiting for the example when it's out.

Thanks a ton for this useful library!

[2022-07-25 11:22] MellenIO commented on #29
For what it's worth, I'm encountering the same issue with npm `7.21.1` and node `16.9.1`. Running `npm link` doesn't seem to fix this for me, however.

[2022-07-25 11:55] MellenIO commented on #29
It looks like there might be some issues with creating `cell` as `DataHeaderCell`. If I comment out this line:
https://github.com/bryanmylee/svelte-headless-table/blob/main/src/lib/plugins/addSortBy.ts#L198

then I can at least get the `toggle` function to execute, which will update `props.sort.order` - but doesn't seem to do anything else.

Looks like something in SvelteKit dev mode is causing `F

[2022-07-26 05:52] bryanmylee commented on #29
@MellenIO Thanks for the insight! That's really interesting and might explain the issue. I'll look into any issues with Vite and class generation.

[2022-07-26 07:22] adammmiller opened #36 "Add example to conditionally add styling to rows, columns & cells"
Really enjoying working with svelte-headless-table so far! It would be great if we could add an example on how to conditionally apply styles to individual rows/columns/cells. E.g. append a style to the first column and all rows under `<tbody>`

From the example I can see this gets applied by:
[code]

Can we include an example of how you'd pass values into `rowAttrs` from `table.createColumns`?
Tha

[2022-07-27 17:07] rohanrajpal commented on #29
Thanks for this, the following workaround fixes the issue for me:

1. Clone this repo
2. run `npm i && npm run package`
3. Go to my Sveltekit project and run `pnpm link <path-to-package-dir`

Tho ofcourse its a temporary fix, but yes it looks like a class generation issue for sure.

[2022-07-28 12:27] MellenIO opened #37 "Add a "select all" option for `addSelectedRows` plugin"
This is probably my favourite Svelte libraries, it's so useful and versatile! Thank you so much for making this.

I do have one small gripe, which is that there isn't a "select all" option for the `addSelectedRows` plugin. This can be hacked in like so:

[code]

and then subscribing to the newly created `selectAll` to cascade the changes to all other checkboxes:
[code]

This works fine, but could

[2022-07-29 13:04] bryanmylee commented on #37
Sure thing, I'l look into providing a `selectAll` method on the data IDs store that's bound to the internal row state.

[2022-07-29 15:06] bryanmylee commented on #35
@rohanrajpal @Mattchine

I've updated the documentation to include an editable table example:
https://svelte-headless-table.bryanmylee.com/docs/examples/editable-table

[2022-07-29 15:06] #35 closed

[2022-07-29 15:28] bryanmylee commented on #36
`attrs()` is supposed to be purely for DOM attributes, and `props()` is for any additional properties provided by plugins. I'm sorry if that wasn't clear and I'll try to improve the documentation explaining it.

As for conditional styles, it depends on how the condition is derived! Most likely, your conditional styles will depend on your data.

# Conditional styles on rows

If the styles depend on

[2022-08-03 10:20] bryanmylee commented on #29
@JBevvy Unfortunately not. . Unfortunately, my free time is quite limited so I haven't reached out to Vite yet but I highly suspect it's a class generation issue.

[2022-08-04 05:47] bryanmylee commented on #29
@MellenIO Would it be possible to create a reproduction of the issue on a smaller repo? Seems like you've gotten the furthest with debugging this issue and I'd like to understand this better before submitting an issue to VIte.

[2022-08-04 05:56] bryanmylee commented on #29
<img width="1074" alt="Screenshot 2022-08-04 at 1 53 32 PM" src="https://user-images.githubusercontent.com/42545742/182773078-15d5f096-f63a-4135-8804-0235149e1eb0.png">

Seems to be an issue with the `instanceof` check. The cell is logged as a `DataHeaderCell` but the `instanceof` check is failing.

[2022-08-04 07:40] bryanmylee commented on #29
Can I check where you're getting `props: { filter: never }`? Usually if the plugin shows `never`, it's because you're accessing the props of the wrong table component e.g. accessing header row props in a body row.

[2022-08-06 01:18] patrickhaertel opened #39 "addResizedColumns plugin breaks if data store referenced multiple times in script functions without addHiddenColumns plugin"
The ability to resize columns breaks if you subscribe to the main data store more than once in separate functions and don't also implement the addHiddenColumns plugin.

### Problem

Here is an example in a REPL:
https://svelte.dev/repl/71eb58bfe8754460926531cf211405da?version=3.49.0

Details:
The REPL above is a clone of the 'Simple Column Resizing' REPL. The only difference is it adds two functio

[2022-08-06 01:48] patrickhaertel commented on #39
It looks like this workaround also only works if you have

[code]
and in the HTML
[code]

I'm going to continue testing to see if I can find anything else out. (The addHiddenColumns plugin is still required in addition to the columnWidths object.)

[2022-08-07 02:21] bryanmylee commented on #39
@patrickhaertel It might be due to how I derive state for the plugins. Each plugin derives new row data given an existing row data from the previous plugin. Some plugins use this hook to set the data of a caching store to provide a reference to "pre-processed" data, but I didn't consider how that would affect multiple subscriptions to the data.

I assumed that multiple subscriptions would be idemp

[2022-08-07 19:28] patrickhaertel commented on #39
It looks like the issue might not be with svelte-headless-table at all but with svelte-subscribe. I might try and look further into this, but here's what I've found so far.

Create an empty object at component top-level and store cell attributes state in it.

[code]

In the table template, replace:

[code]

with:

[code]

This will effectively fix the column resizing in every scenario I have teste

[2022-08-08 01:32] bryanmylee commented on #39
The `<Subscribe />` blocks are needed due to the way I've set up the architecture of Svelte Headless Table. Each table element has a view model item that represents it, and each view model item holds a reference to an `attrs` and `props` readable store.

If we remove `<Subscribe />`, we lose out on the ability to auto-subscribe to those stores in the template. If we replace it with an object creat

[2022-08-08 01:35] bryanmylee commented on #37
@MellenIO Can I check with you that you want a `selectAll` and `deselectAll` method on the ID store?

[2022-08-08 01:36] bryanmylee commented on #36
I'm going to mark this as closed if you have no further questions.

[2022-08-08 01:36] #36 closed

[2022-08-08 16:23] MellenIO commented on #37
@bryanmylee that would be nice, but I think really the easiest way would actually just be to have an `allSelected` boolean so you could toggle it that way (since `selectAll` and `deselectAll` would just end up being aliases for `allSelected = true/false` respectively)

The biggest thing is being able to automagically detect if all are selected so that I can update the "select all" header. As it st

[2022-08-10 08:24] bryanmylee commented on #37
@MellenIO Ah I get what you need now. I'll build the feature out accordingly.

[2022-08-11 19:16] MellenIO opened #40 "Add a "high level filter" plugin"
One of the things this library is missing (but could probably add reasonably easily - he says...) is the ability to add what I will call "high level" table filters.

In short, these would be moreso "descriptive" filters that don't align with a specific column or existing filter. As an example, a high level filter may be:
[code]

The idea is that you could apply many high level filters, acting as e

[2022-08-12 04:19] bryanmylee commented on #40
Correct me if I'm wrong, but you're looking for a filtering mechanism that can perform complex nested filters based on the data available?

Svelte Headless Table provides a [`addTableFilter`](https://svelte-headless-table.bryanmylee.com/docs/plugins/add-table-filter) which lets you do a text search on the entire table.

The main justification is that the text data presented on the table is not alw

[2022-08-13 13:55] bryanmylee commented on #29
I've developed a workaround for the `instanceof` checks to get around the Vite dev issue.

Please install `v0.13.0` and let me know if you still run into this issue @Gildedter  @MellenIO @eric-naguras @rohanrajpal @JBevvy.

Thanks everyone for your continual support and effort in debugging this issue. I hope this solves the biggest pain point with the library.

[2022-08-13 14:06] rohanrajpal commented on #29
@bryanmylee Just installed and things seem to be working as expected! Really appreciate all your efforts in making this library better every week.

I'll try to find some time in the coming weeks to fix this issue, tho seems like it's a tricky one to understand.

[2022-08-13 17:35] bryanmylee commented on #37
@MellenIO I've added this to the plugin in v0.13.3.

You can find its documentation [here](https://svelte-headless-table.bryanmylee.com/docs/plugins/add-selected-rows#allrowsselected-writable-boolean).

[2022-08-13 17:35] #37 closed

[2022-08-17 06:02] bryanmylee commented on #29
Given the improved ergonomics of the workaround, I'm going to consider this problem solved for now.

[2022-08-17 06:02] #29 closed

[2022-08-17 06:03] bryanmylee commented on #40
This use case seems to be best handled with a filter on `data` itself. Please feel free to re-open if there are any further issues.

[2022-08-17 06:03] #40 closed

[2022-08-29 09:26] flavio-greenfact opened #45 "createRender and event dispatcher"
Not sure how to read an event while using createRender. I have a dropdown menu which I could render like below

    <UserActionsDropdown on:message={handleMessage}/>

I want to dispatch an event from UserActionsDropdown and be able to handle in the table below. How would be possible?

    table.column({
		header: '',
		id: 'selected',
		accessor: (item) => item,
		cell: ({ value }) => {
			return

[2022-08-30 04:18] bryanmylee commented on #45
Unfortunately, Svelte's event handling is internal behaviour. There are some tricks I could do to expose event listeners but it would be near impossible to get type safety and would further complicate the API.

My advice is to pass a callback function as a prop of the component and attach it to the event handler.

[code]

[code]

[2022-08-30 04:18] #45 closed

[2022-08-31 16:02] rohanrajpal commented on #45
Actions indeed are not that extendible yet :(
Tho I would strongly recommend that this example can be added to the docs. I'm sure a lot of people would have this doubt. Thanks for this great example btw! Solved my use case.

[2022-09-04 20:10] BlueFoxPrime opened #46 "Plugin 'addDataExport': Value of Properties expanded and selected is always 'null'"
Awesome work, currently exploring the possibilities!

Noticed the following issue:
Properties expanded and selected of $exportedData remain 'null' although rows are expanded/ selected.
![grafik](https://user-images.githubusercontent.com/112826784/188331631-0d691043-1aa1-491b-b4f0-0a75f029e408.png)

Example REPL:
https://svelte.dev/repl/6252bf57d8c64a59bd347e311241ebf2?version=3.48.0

I am still qu

[2022-09-07 03:53] bryanmylee commented on #46
Thanks for the report. This seems to be a bug with how the plugins interface with each other. I'll look into a fix.

[2022-09-07 04:12] bryanmylee commented on #46
The issue with the expanded and selected columns is that they are display columns which do not contain any data. Therefore, when the `addDataExport` plugin receives rows, it does not see any data on those columns.

Generally, I'd advise you to use the `pluginStates.select.selectedDataIds` and `pluginStates.expand.expandedIds` stores, but I'll spend some more time thinking about how the `addDataExp

[2022-09-07 08:17] bryanmylee commented on #46
@BlueFoxPrime You can refer to the [updated documentation](https://svelte-headless-table.bryanmylee.com/docs/plugins/add-data-export) on the `addDataExport` plugin for the context discussed here and upgrade to `v0.13.4` for a first-class solution.

[2022-09-07 08:17] #46 closed

[2022-09-07 18:39] FluffyDiscord opened #48 "Uncaught (in promise) Error: A column id or string accessor is required"
Hi, I have just added your package and tried to create a very basic table [as listed in the docs ](https://svelte-headless-table.bryanmylee.com/docs/api/create-columns#table-column-columndef-datacolumn)and I am getting error when my `accessor` is an function. Am I missing something ?

[code]

[code]

[2022-09-08 01:14] bryanmylee commented on #48
Hi @FluffyDiscord, this is expected behavior.

As the error indicates, if you are using a function `accessor`, you need to provide an `id` to the column.

Svelte Headless Table needs to give each column a unique ID for all of its features. If you are using a string accessor, we assume that the accessor name is unique and can be used as the ID. However, if you're using a function accessor, there is

[2022-09-08 01:14] #48 closed

[2022-09-08 15:05] FluffyDiscord opened #49 "Why use "header" and "Render" in column definition at all ?"
First of all - I am probably doing this the wrong way, so please enlighten me.

I would like to have custom header cell, so I guess I have three ways to do it
[code]

Looking at the docs, you are recommending to use `createRender` tho. Why is `Render` recommended ? If we want to enable the sorting plugin, we are adding plain html anyway, right ?

[code]

If I want to have that sorting "hidden" in

[2022-09-09 10:01] bryanmylee commented on #49
Hi @FluffyDiscord, thanks for highlighting this!

The principle I aimed for with this library is flexibility, however I admit that this makes things more complicated and probably more confusing that it has to be.

To answer your question directly, in the examples, I rendered the sorting indicator on the template instead of the column definitions because:
1. the sorting indicator is an element that

[2022-09-09 12:31] bryanmylee commented on #49
Hi @FluffyDiscord, you can refer to the updated [documentation](https://svelte-headless-table.bryanmylee.com/docs/api/create-columns#columndef-header-renderconfig-headercell-state-renderconfig) for the updated API.

Let me know if this solves your use case!

[2022-09-09 12:50] bryanmylee commented on #39
@patrickhaertel Have you been able to workaround this issue? Unfortunately I do not have the capacity to look into this at the moment.

[2022-09-09 15:17] FluffyDiscord commented on #49
@bryanmylee more than solves, thank you very much !

[2022-09-09 15:17] #49 closed

[2022-09-14 10:49] BlueFoxPrime opened #51 "Allow multiple group-on features for columns"
Hi,

I'd like to request the following feature(s):

- Possibility for several grouping options per column
- Possibility for grouping base on child layer props (e.g. item.children.age instead of item.age / 'value'), All parents of grouped layers should be ignored in that case.

Illustrating Picture (edited):
![image](https://user-images.githubusercontent.com/112826784/190130340-5919e07a-5e0a-409b-b

[2022-09-14 18:41] BlueFoxPrime opened #52 "Plugin 'addGroupBy' + 'addExpandedRows' - Missing Children / Expand option if grouped by column - Issue"
Hi,

I noticed the following issue when combining the two mentioned plugins on nested data:
- Children / Expand option is missing for rows that are grouped by column, although items originally have children when not grouped

Example picture:
![image](https://user-images.githubusercontent.com/112826784/190232985-bcc43d92-e8f2-4081-8e80-03497e6eadd6.png)

Example REPL:
https://svelte.dev/repl/320d8a

[2022-09-16 14:25] bryanmylee commented on #52
This is definitely a bug in how the `addGroupBy` plugin resolves child rows. I'll look into a fix!

[2022-09-17 22:24] BlueFoxPrime commented on #51
Thanks for your ideas regarding multiple grouping options. I didn't think of defining two addGroupBy plugins. It sounds fine to me!

Thats exactly what I want 👍

  props.flatten.toggle();
  props.group.toggle();
}}>Group children</button>

 Sounds good! It would be nice if you could include an option for which level of the elements to flatten on.

Your effort is much appreciated!

[2022-09-19 01:57] bryanmylee commented on #39
I'll close this for now. Please feel free to re-open this if the issue persists.

[2022-09-19 01:57] #39 closed

[2022-09-19 03:41] #52 closed

[2022-09-19 03:42] bryanmylee commented on #52
This should be fixed in `v0.14.2`.

[2022-09-22 21:07] FluffyDiscord opened #54 "Table event system or plugin"
Right now it's painful to work with cell events.

I have a situation, where my table row last column is an "action" column with bunch of buttons (eg. edit, delete) and I would like to listen to the dispatched event from the cell right at the table component or even outside of it to process it and modify the table data.

The `Render` component now blocks custom events and using solution in https://

[2022-09-26 01:48] bryanmylee commented on #54
hey @FluffyDiscord, thanks for bringing the feature request and ideas!

I've been dabbling with Svelte's internal event system a little bit more, and it might be possible to dispatch events out of the `<Render />` component, but I'll have to get back to you on that later, especially if I want to preserve type safety.

[2022-09-28 03:01] bryanmylee opened #57 "Allow flattening of rows"
Feature request mentioned in #51.

[2022-09-28 03:03] #57 closed

[2022-09-28 03:16] bryanmylee commented on #51
@BlueFoxPrime Flattening of rows is now available with the [`addFlatten` plugin](https://svelte-headless-table.bryanmylee.com/docs/plugins/add-flatten).

[2022-09-28 03:16] #51 closed

[2022-09-28 14:29] bryanmylee commented on #45
@rohanrajpal Refer to #54 and the [updated documentation](https://svelte-headless-table.bryanmylee.com/docs/api/create-render#on-type-eventtype-handler-ev-void) for `v0.15.0` for a new event system on the render system.

[2022-09-28 16:46] kuechlerm opened #60 "Setup issues with pnpm(?)"
I had some issues using the headless-table in a current SvelteKit project using PNPM.

I got it running after installing
- svelte-render
- svelte-subscribe

But there was no error that pointed to that solution.

Additionally I have a problem with typings. Importing the package in a svelte component with the lang="ts" attribute says
`Could not find a declaration file for module 'svelte-headless-tab

[2022-09-29 04:27] #54 closed

[2022-09-29 04:30] bryanmylee commented on #60
This might be related to my migration to Svelte package. I'll release a patch version to resolve this.

[2022-09-29 06:10] bryanmylee commented on #60
The typing issue should be fixed with `v0.15.1`.

[2022-09-29 06:10] #60 closed

[2022-09-29 13:47] kuechlerm commented on #60
That does the trick. Thank you!

[2022-09-30 11:51] BlueFoxPrime opened #61 "Plugin 'addDataExport' - incorrect export of parent/ child hierarchy"
Hi :)

I noticed that the plugin does not seem to output parent/ child hierarchy correctly when choosing type 'object':
![image](https://user-images.githubusercontent.com/112826784/193262299-33e94464-272d-410c-ae2a-820695a3426b.png)

Expected behaviour in this case would be the that there are 2 top level objects instead of 6, when expanded.
[Example RPL
](https://svelte.dev/repl/418ea92aeb814dbd80

[2022-09-30 13:30] bryanmylee commented on #61
Hey @BlueFoxPrime, unfortunately this was a decision that I decided to make for the data export plugin.

My reasoning was that the export plugin is primarily concerned with exporting data as it looks in the table.

However, if there's a need for it, I can look into extending the plugin with an option to preserve nesting?

[2022-10-05 06:44] g99g opened #64 "Is there a way or example to handle paging, sorting, filters with server api query params?"

[2022-10-05 11:03] bryanmylee commented on #64
If you're referring to a server controlled API for transforming data, you can join our discussion on #63.

[2022-10-05 11:03] #64 closed

[2022-10-05 16:20] FluffyDiscord opened #65 "Row animations"
Hello,
I would like to add animations to my rows so that for example the sorting is nicely animated.

Right now I would need to remove `<Subscribe>` component hosting the table row `tr`

[code]

Is it even possible to achieve animations with the `Subscribe` component wrapping our `tr` row ?

On the other hand what exactly are we losing (and how critical it is) when we remove the `Subscribe` compon

[2022-10-06 19:34] secretgspot opened #70 "Search feature for Documentation"
Would be great of documentation had a "search" feature.

[2022-10-07 05:45] bryanmylee commented on #70
Yeah it would, I'm looking into applying for Algolia's DocSearch.

[2022-10-07 06:47] bryanmylee commented on #65
## What `Subscribe` does

The `Subscribe` component lets us subscribe to Svelte stores within the template itself. If you unsubscribe from it, then your table cells will lose reactivity to changes in the table component e.g. `selected` prop set on the `addSelectedRows` plugin.

I made the decision to compose the table from multiple nested stores instead of one giant store because it lets us select

[2022-10-07 06:49] bryanmylee commented on #61
@BlueFoxPrime Let me know if the nested behavior is what you need, and if the use case is common enough I'll work on adding an option to enable such a feature!

[2022-10-07 07:00] bryanmylee commented on #65
Seems like there's an existing issue to work on the `animate` directive: https://github.com/sveltejs/svelte/issues/7209.

This is definitely one of Svelte's limitations; it tries to handle so many things and ends up having to compromise on many of them.

[2022-10-07 18:43] BlueFoxPrime commented on #61
Hey, sorry for the late response but I am on holiday :)

I think that the use case is quite common because I want to share data to other component(s) depending on what’s displayed in the table. The way it’s designed produces strange results, as children are also displayed as parent items. I did some minor modifications to the ‘addDataExport’ plugin to change it. I didn’t manage to test it yet but

[2022-10-08 02:20] bryanmylee commented on #61
Hey @BlueFoxPrime, that sounds great!

Most of the plugins are missing a lot of test coverage at the moment. If you open a PR, I'll gladly write the testcases for it.

[2022-10-08 20:44] #70 closed

[2022-10-11 04:07] extremelygooddeveloper opened #71 "[Question] Virtualisation"
Hi, really enjoying this project, thanks for developing and maintaining it!

Is there any reccomended way of virtualising the tables generated? I know this is not really a concern of the library, but maybe it could become one?

[2022-10-17 09:19] thomas725 opened #75 "reactive header?"
Hi there!

I'm trying to use this component in an app of mine.

It's using `svelte-i18n`, and for a vanilla table I put stuff like: `<th>{$_('name')}</th>` into the svelte template section for my table headers. This automatically changes when the language is switched.

Now to get started with your library, I've copied the code from your [quick-start sample](https://svelte-headless-table.bryanmylee

[2022-10-17 15:07] thomas725 commented on #75
Those missing imports in all the sample code in your documentation makes it really hard for a svelte novice like me to try those samples. How to find out which libraries those objects should come from?..

[2022-10-18 05:03] bryanmylee commented on #75
Hey @thomas725, thanks for the suggestion. I’ll re-work the examples to make referencing easier, but I’m hesitant to add all imports because I want the examples to be focused.

As for reactivity, you can pass a [readable store directly](https://svelte-headless-table.bryanmylee.com/docs/api/create-columns#columndef-header-renderconfig-headercell-state-renderconfig) instead of its subscribed value a

[2022-10-18 06:04] thomas725 commented on #75
Thank you for your reply, and thanks for considering my suggestion about the imports.

The suggested syntax, leaving out the '$' sign before `_('name')` gives me this compiler error:
[code]

[2022-10-19 15:23] bryanmylee commented on #75
Ah I see, I think the issue is that `_` returned from `svelte-i18n` is a store and not a store getter i.e. `$_('name')` is accessing the store value `$_` which returns a function, then calling it with `'name'`. I mistook the syntax as `_('name')` being a store which is then accessed with `$`.

To resolve your issue, you have to use a derived store instead.

[code]

[2022-10-19 23:16] #75 closed

[2022-10-24 23:00] blerrgh opened #80 "setting allPageRowsSelected to "false" clears entire selection, not just the current page"
Writing `true` to the `allPageRowsSelected` store adds _only_ the current page's IDs to the `selectedDataIds` store, as expected.

But setting it to `false` clears _all_ selected rows, not only the ones on the current page.

I would expect the behavior to be consistent where setting true and false add/remove current page IDs only.

Relevant code in [addSelectedRows.ts](https://github.com/bryanmyle

[2022-10-25 08:46] #80 closed

[2022-10-25 08:47] bryanmylee commented on #80
Hi @blerrgh, thanks for your continual contributions and bug reports. This project has rapidly grown in complexity as I've continued to add features, and these reports really help me refine the library.

This bug has been resolved with #81.

[2022-11-03 12:54] BlueFoxPrime commented on #61
Hey, I am not sure I can put together a decent PR but I am trying and I will surely post my code here.
I figured that addFlatten and addPagination need to be respected. Therefore I wanted to use $pageRows instead of $rows to determine the derived store returned from the Plugin. Thereby I realized that the docs are possibly not correct / there is a bug regarding the following:

![grafik](https://us

[2022-11-11 21:35] FluffyDiscord opened #84 "Possible implementation of a virtual list ?"
Hi,
I am aware that we already have pagination plugin in place which works great, but would it be possible to add an "infinite virtual list" pagination plugin ?

The idea would be to limit the table height and specify (or auto-calculate if reasonable) how many items will be shown/rendered and the rendered offset would be managed by scroll, eg. infinite virtual scroll.

Maybe this would be possible

[2022-11-12 22:59] bryanmylee commented on #84
Could you try something like this?

[code]

[2022-11-14 09:46] bryanmylee commented on #84
@FluffyDiscord Full disclaimer, I've never used `svelte-tiny-virtual-list` before but it's probably there to provide the overflow behaviour. Looking at it's code, it provides slots for the header and footer so you could try:

[code]

[2022-11-30 12:25] ludotosk opened #87 "Improvement to the filter"
Hi!
I'm using this library to perform research on big tables and I figure out that the filter doesn't filter pieces of worlds. Like if I have a value like "Computer science" and I try to filter "science" I will not see that row, I can only see it if I search "computer".
I think that can be useful to change this or allow the option to choose between this way to do the filter and the one that I prop